@model SICCO.Database.tb_cor

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Tipo da Cor</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCor)
        </dd>

        <dt>
            <b>Cor</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
