@model SICCO.Database.tb_tipocombustivel

@{
    ViewBag.Title = "Detalhe";
}

<div>
    <h3>Detalhe do Combustível</h3>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Combustível: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCombustivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
